Package: com.thetechie15.blurryface
Name: BlurryFace Theme
Depends: winterboard
Version: 1.5
Architecture: iphoneos-arm
Description: Twenty One Pilots "BlurryFace" album cover lockscreen passcode buttons, phone dial buttons, and Zeppelin addon.
Maintainer: ASDazey <thetechie15@gmail.com>
Author: ASDazey (TheTechie15) <thetechie15@gmail.com>
Section: Themes (LockScreen)
