Package: com.thetechie15.blurryface
Name: BlurryFace Theme
Depends: winterboard
Version: 1.0
Architecture: iphoneos-arm
Description: Twenty One Pilots "BlurryFace" album cover lockscreen passcode buttons and phone dial buttons.
Maintainer: ASDazey <thetechie15@gmail.com>
Author: ASDazey (TheTechie15) <thetechie15@gmail.com>
Section: Themes (LockScreen)
